/* src/App.css */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', Arial, sans-serif;
  background: #f0f0f0;
  color: #333;
  overflow: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

section {
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

p {
  font-family: 'Poppins', Arial, sans-serif;
  font-weight: 300;
}
